<html>
 <head>
   <title>Dashboard</title>
 </head>
 <body>
   <form method="POST" action="/dashboard/users/update/<%= user_game.id %>">
     <label for="email">Email</label>
     <br>
     <input type="text" name="email" value="<%= user_game.email %>"/>
     <br>

     <label for="password">Password</label>
     <br>
     <input type="password" name="password" value="<%= user_game.password %>"/>
     <br>

     <button type="submit">Submit</button>
   </form>
 </body>
</html>
