<!DOCTYPE html>

<html>
    <head>
        <title>Traditional Game</title>
        <link rel="stylesheet" href="/css/reset.css">

        <!-- Manual Styling -->
        <link rel="stylesheet" href="/css/home.css">

        <!-- Bootstrap 5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- Page 1. Main Page  --> 
        <section id="main" class="hero-image" style="height: 100vh; background-image: url('/img/main-bg.jpg');">
                
            <!-- Navbar -->
            <nav class="navbar navbar-expand-md bg-nav navbar-dark">
                <div class="container">    
                    <a class="navbar-brand">LOGO</a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pencetnavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="pencetnavbar">
                        
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="" class="nav-link">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">WORK</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">CONTACT</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">ABOUT ME</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto">    
                            <li class="nav-item">
                                <a href="/register" class="nav-link">SIGN UP</a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="nav-link">LOGIN</a>
                            </li>
                        </ul>

                    </div>

                </div>     
            </nav> 
            <!-- End of- Navbar-->

            <!-- Text Box -->
            <div class="container vertical-center" style="min-height: 80%; min-height: 80vh;">
                <div class="col main-textbox text-center">
                    <h1><b>PLAY TRADITIONAL GAME</b></h1>
                    <p>Experience new traditional game play</p>
                    <a href="/login" type="button" class="btn btn-warning yellow-button" style="padding: 0.75rem 3.5rem;"><b>PLAY NOW</b></a>

                </div>
            </div>
            <!-- End of- Text Box-->

            <!-- The Story -->
            <div class="container">
                <div class="col main-textbox text-center">
                    <p style="font-size: 0.6em; font-family: 'Open Sans'; margin: 10px 0 10px">THE STORY</p>

                </div>
                <div class="col main-textbox text-center">
                    <p style="font-size: 0.6em; font-family: 'Open Sans'; margin: 0px">
                        <img src="/img/scroll-down.svg" alt="">
                    </p>

                </div>
            </div>
            <!-- End of- The Story -->

        </section>

        <!-- Page 2. Carousel -->
        <section class="hero-image" style="height: 100vh; background-image: url('/img/the-games-bg.jpg');">
                <div class="row d-flex pad-off-carousel-onmed" style="padding-left: 5rem; padding-right: 5rem; margin-left: 0; margin-right: 0;">
                    
                    <!-- <div class=".d-none .d-sm-block .d-md-none" style="min-height: 7vh;"></div> -->

                    <!-- Text "Special" - when none sm -->
                    <div class="col-md-3 vertical-carousel carousel-text">
                        <p>What's so special?<br/><span class="thegames">THE GAMES</span> </p>
                    </div>
                    <!-- End of- Text "Special" - when none sm -->
                    
                    <!-- Carousel - when none sm -->
                    <div id="carouselExampleIndicators" class="carousel slide col-md-9 vertical-carousel-2" data-ride="carousel">
                        <!-- <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div> -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    <!-- End of- Carousel - when none sm -->

                </div>
                
        </section>

        <!-- Page 3. Si Botak Page -->
        <section class="container-flex hero-image-left hero-black hero-quotes-small" style="height: 100vh; background-image: url('/img/features.jpg');">

            <div class="container position-absolute top-50 start-50 translate-middle">
                <div class="row">
                    <!-- Offset -->
                    <div class="col-6 d-none d-sm-block">
                        
                    </div>

                    <!-- FEATURES -->
                    <div class="col-6 carousel-text" >
                        <div class="col offset-1"> <p>What's so special?<br/><span class="thegames">FEATURES</span> </p> </div>
                        <div class="row"> 
                            <div class="col-1 offset-1" style="padding: 0;">
                                <img src="/img/Ellipse-1.svg" class="mx-auto d-block" alt="">
                                <img src="/img/progress-bar.png" class="mx-auto d-block" style="line-height: 0;" alt="">
                            </div>
                            <div class="col"> 
                                <p> <span style="color: #FFB548;">TRADITIONAL GAMES<br/></span>if you miss your childhood, we provide<br/> many tradiotional games here</p>
                            </div>    
                        </div>
                        <div class="row"> 
                            <div class="col-1 offset-1" style="padding: 0;">
                                <img src="/img/Ellipse.svg" class="mx-auto d-block" alt="">
                            </div>
                            <div class="col">
                                <p style="color: #FFB548;">GAME SUIT</p>    
                            </div>    
                        </div>
                        <div class="row"> 
                            <div class="col-1 offset-1" style="padding: 0;">
                                <img src="/img/Ellipse.svg" class="mx-auto d-block" alt="">
                            </div>
                            <div class="col">
                                <p style="color: #FFB548;">TBD</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div> 

            
                
        </section>

        <!-- Page 4. System Requirements -->
        <section class="container-flex hero-image hero-quotes-small" style="height: 100vh; background-image: url('/img/requirements.png');"> 
            <div class="container position-absolute top-50 start-50 translate-middle" style="padding-left: 5rem; padding-right: 5rem;">
                <div class="row pb-4" style="justify-content: center; color: white; font-size: 0.8em">Can My Computer Run this game?</div>
                
                
                <div class="row">
                    
                    <!-- Container System Requirments -->
                    <div class="col sr-text" >

                        <div class="col pb-4 sr-h1">
                            SYSTEM REQUIERMENTS
                        </div>

                        <div class="row">
                            <div class="col border border-secondary pt-2">
                                <p sty><span class="sr-text-h2">OS:</span><br/>Windows 7 64 bit only<br/>(No OSX support at this time)</p>
                            </div>
                            <div class="col border border-secondary pt-2">
                                <p><span class="sr-text-h2">PROCESSOR:</span><br/>Intel Core 2 Duo @ 2.4 GHZ or<br/>AMD Athlon X2 @ 2.8 GHZ</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col border border-secondary pt-2">
                                <p><span class="sr-text-h2">MEMORY:</span><br/>4 GB RAM</p>
                            </div>
                            <div class="col border border-secondary pt-2">
                                <p><span class="sr-text-h2">STORAGE:</span><br/>8 GB available space</p>
                            </div>
                        </div>

                        <div class="row border border-secondary pt-2">
                            <p><span class="sr-text-h2">GRAPHICS:</span><br/>NVIDIA GeForce GTX 660 2GB or<br/>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                        </div>

                        <div class="col"></div>

                    </div>
                    <!-- End of- Container System Requirments -->

                    <!-- Offset -->
                    <div class="col d-none d-sm-block">

                    </div>
                    

                </div>
                

            </div>
                
        </section>
        <!-- End of- Page 4. System Requirements -->

        <!-- Page 5. Quotes -->
        <section class="container-flex hero-image hero-quotes-small" style="background-image: url('/img/press-quotes.jpg');"> 
            <div class="container position-absolute top-50 start-50 translate-middle">
                
                <div class="row justify-xs">
                    <!-- Top Scores Button-->
                    <div class="col-6 d-sm-none d-md-block d-none d-sm-block">
                        <div class="col main-textbox text-left">
                            <h1>TOP SCORES</h1>
                            <p>This top score from various games provided on this platform</p>
                            <button href="index.html" type="button" class="btn btn-warning yellow-button" style="padding: 0.75rem 3.5rem;"><b>SEE MORE</b></button>
        
                        </div>
                        
                    </div>

                    <!-- 3 Quotes -->
                    <div class="col-6 col-md-6 col-sm-12">
                        <!-- First Quote -->
                        <div class="row">
                            <!-- Offset hide on XS, SM, MD-->
                            <div class="col d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                                
                            </div>
                            
                            <!-- Quote's Card -->
                            <div class="col-lg-7 col-md-12 card-bg">
                                <div class="row">
                                    <!-- Profile Pic. -->
                                    <div class="col-3" style="padding-top: 0.5em; text-align: center;">
                                        <img class="rounded-circle img-fluid" src="/img/quote1.jpg" alt="">
                                    </div>
                                    <!-- Name and Status -->
                                    <div class="col-7">
                                        <p class="quotes-name">Evan Lahti</p>
                                        <p class="quotes-status">PC Gamer</p>
                                    </div>
                                    <!-- Twitter Logo -->
                                    <div class="col-2 " style="padding-top: 0.8em; text-align: right;">
                                        <img src="/img/twitter.svg" alt="">
                                    </div>
                                </div>

                                <div class="col">
                                    <p class="quotes-quote px-1">"One of my gaming highlights of the year."</p>
                                    <p class="quotes-date px-1">June 18, 2021</p>
                                </div>
                            </div>

                        </div>

                        <!-- Second Quote -->
                        <div class="row">
                                                       
                            <!-- Quote's Card -->
                            <div class="col-lg-7 col-md-12 card-bg">
                                <div class="row">
                                    <!-- Profile Pic. -->
                                    <div class="col-3" style="padding-top: 0.5em; text-align: center;">
                                        <img class="rounded-circle img-fluid" src="/img/quote2.jpg" alt="">
                                    </div>
                                    <!-- Name and Status -->
                                    <div class="col-7">
                                        <p class="quotes-name">Jade Griffin</p>
                                        <p class="quotes-status">Nerdreactor</p>
                                    </div>
                                    <!-- Twitter Logo -->
                                    <div class="col-2 " style="padding-top: 0.8em; text-align: right;">
                                        <img src="/img/twitter.svg" alt="">
                                    </div>
                                </div>

                                <div class="col">
                                    <p class="quotes-quote px-1">"The next big thing in the world of streaming and survival games."</p>
                                    <p class="quotes-date px-1">July 10, 2021</p>
                                </div>
                            </div>

                            <!-- Offset hide on XS, SM, MD-->
                            <div class="col d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                                
                            </div>
                            
                        </div>

                        <!-- Third Quote -->
                        <div class="row">
                            <!-- Offset hide on XS, SM, MD-->
                            <div class="col d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                                
                            </div>
                            
                            <!-- Quote's Card -->
                            <div class="col-lg-7 col-md-12 card-bg" style="justify-content: center;">
                                <div class="row">
                                    <!-- Profile Pic. -->
                                    <div class="col-3" style="padding-top: 0.5em; text-align: center;">
                                        <img class="rounded-circle img-fluid" src="/img/quote3.jpg" alt="">
                                    </div>
                                    <!-- Name and Status -->
                                    <div class="col-7">
                                        <p class="quotes-name">Aaron Williams</p>
                                        <p class="quotes-status">Uproxx</p>
                                    </div>
                                    <!-- Twitter Logo -->
                                    <div class="col-2 " style="padding-top: 0.8em; text-align: right;">
                                        <img src="/img/twitter.svg" alt="">
                                    </div>
                                </div>

                                <div class="col">
                                    <p class="quotes-quote px-1">"Snoop Doff Playing The Wildly Entertaining 'SOS' Is Ridiculuos."</p>
                                    <p class="quotes-date px-1">December 24, 2018</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
                
        </section>
        <!-- End of- Page 5. Quotes -->

        <!-- Page 6. Subscribe -->
        <section class="container-flex hero-image-left" style="height: 100vh; background-image: url('/img/top-score-bg2.png');">
            <div class="container position-absolute top-50 start-50 translate-middle">
                <div class="row pad-on-subs">

                    <!-- Offset -->
                    <div class="col-6 d-none d-sm-block">
                        
                    </div>

                    <!-- Content -->
                    <div class="col">
                        <div class="col">
                            <p class="sr-text" style="font-size: 1.2em;">Want to stay in<br/>touch?</p>
                            <p class="sr-h1" style="color: white;">NEWSLETTER<br/>SUCBSCRIBE</p>
                            <p class="sr-text" style="font-size: 1em;">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-sm-12" style="margin-top: 1em;">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 justify-xs" style="margin-top: 1em;">
                                <button type="submit" class="btn btn-warning yellow-button" style="padding-left: 3.5rem; padding-right: 3.5rem; font-size: 0.88em;"><b>Subscribe Now</b></button>
                            </div>
                            
                        </div>
                    </div>

                    

                </div>
            </div>    
        </section>
        <!-- End of- Page 6. Subscribe -->

        <!-- Footer -->
        <section class="container-flex" style="background-color: #080a0b;">
            <div class="container">
                    <div class="row py-4" style="align-items: center; text-align: center; border-bottom: 2px solid #b1C1eE1f;">
                        <div class="col-md col-sm-12 sr-text footer-text" style="font-family: 'Open Sans', sans-serif;">
                            <a href="#main">MAIN</a>
                        </div>
                            
                        <div class="col-md col-sm-12 sr-text footer-text" style="font-family: 'Open Sans', sans-serif;">
                            ABOUT                        
                        </div>

                        <div class="col-md col-sm-12 sr-text footer-text" style="font-family: 'Open Sans', sans-serif;">
                            GAME FEATURES
                        </div>

                        <div class="col-md col-sm-12 sr-text footer-text" style="font-family: 'Open Sans', sans-serif;">
                            SYSTEM REQUIERMENTS
                        </div>

                        <div class="col-md col-sm-12 sr-text footer-text" style="font-family: 'Open Sans', sans-serif;">
                            QUOTES
                        </div>

                        <div class="col footer-logo">
                            <img src="/img/facebook.svg" alt="">
                        </div>

                        <div class="col footer-logo" >
                            <img src="/img/twitter-1.svg" alt="">
                        </div>

                        <div class="col footer-logo">
                            <img src="/img/Vector.svg" alt="">
                        </div>

                        <div class="col footer-logo">
                            <img src="/img/twitch.svg" alt="">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col" style="font-size: 0.75em;">
                            <p>&copy; 2018 Your Games, Inc. All Rights Reserved</p>
                        </div>
                        <div class="col py-1 sr-text text-end" style="font-size: 0.5em; font-family: 'Open Sans', sans-serif;">
                            <p><span href="...">PRIVACY POLICY</span> | <span>TERMS OF SERVICES</span> | <span>CODE OF CONDUCT</span></p>
                        </div>
                    </div>
                </div>
        </section>
        <!-- End of- Footer -->


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
</html>